*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Background */

body {
    display: flex;
    background-color: #CACAAA;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
}

/* Navigation Bar */

ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: white
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 
}

li a:hover {
    background-color: grey;
}

 
/* Main Body */

section {
    display:flex;
    flex-direction: column;
    align-items:center; 
}

 .heading  {
    margin-top: 1.5rem;
    width: 12rem;
    height: 7rem;
    
 }

 header {
    justify-content: center;
    display: flex;
 }

 
 /* Second Heading */
 .subheading {
    padding: 1.2rem 4rem 1.2rem 4rem;
    background-color:#C8AB83; 
    text-align: center; 
    color: black;
    font-weight: 100;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
    margin: 1rem 2rem -0.2rem 2rem;
    
    
   
 } 

 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 }

 /* Text paragraphs and pictures */
 .para1 {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 2rem -0.2rem 2rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
     
 }

 /* Hover on  "Read more" links */
.readlink:link {
    color:#C8AB83 
}
.readlink:visited {
    color: #55868C  
}
 
.readlink:hover {
    color:pink;
}


article {
    display:flex; 
    flex-direction: column;
}
#d1, #d2, #d3, #d4 {
    
    border-color: white;
    border-style: groove;
    max-width:50vw;
    max-height:50vh;
    margin: 1em 0 0.2rem 0;
   
     
}

#d4 {
    max-height: 60vh;
}

/* Footer */

 .footer {
    background-color: white;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: flex-end;
    justify-content: center;     
    font-family: garamond, serif;
}

/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:899x) {

    li a {
        font-size: 1em; 
    }


    article {
        flex-direction: row; 
    }
   #d1, #d2, #d3, #d4 {
        height: 30vw;
        width: 45vw;
    }

        #d4 {
            height: 40vw;
            width: 35vw;
        }

}
/* Desktop */

@media only screen and (min-width:900px) {

 li a {
        font-size: 1.2em; 
    
    }

   
section {
    display: flex;
    align-items: flex-start; 
    flex-direction: row; 
}

.heading{
  transform: scale(1.5);
  margin: 3rem 0 3rem 0;
    

}
.subheading{
    margin-left: 2vw;
    flex-shrink: 0;
    width: 22vw;
    padding:0.5em;
    
}

.para1 {
    margin-top: 8em;
    margin-left: -23vw;
    margin-right: 1vw;
    width: 20vw;
    height: 30rem; 
    flex-shrink: 0;

}


#d1, #d2, #d3, #d4 {
    height: 15vw;
    width: 22vw;
    margin-left: 1vw;
    margin-top: 5em

}

#d4 {
    height: 30vw;
    width: 20vw;
}

.footer {
    margin-top: 10vh
}
}