*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Background color */

body {
    background-color:#CACAAA
}


/* Navigation Bar */

ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: white
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 
}

li a:hover {
    background-color: grey;
}

 
/* First Heading */

 .heading  {
    margin-top: 1.5rem;
    width: 12rem;
    height: 7rem;
    
 }

 header {
    justify-content: center;
    display: flex;
 }

/* Main body article*/

 article {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
 }

 /* Second Heading */
 .subheading {
    padding: 1.2rem;
    background-color:#C8AB83; 
    text-align: center; 
    color: black;
    font-weight: 100;
    border-color: white;
    border-style: groove;
    margin: 1rem 2rem 0.5rem 2rem; 
    font-family: garamond, serif;
    width: 60vw; 
    align-self: center;
 } 

 /* Text paragraphs and pictures */
 .para1 {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 1rem 2rem 1rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
    width: 60vw
 }

 /* Hover on  "Read more" links */
.readlink:link {
    color:#C8AB83 
}
.readlink:visited {
    color: #55868C  
}
 
.readlink:hover {
    color:pink;
}

#d1, #d2, #d3, #d4 {
    max-width:50vw;
    max-height:50vw;
    border-color: white;
    border-style: groove;
    margin-bottom: 1rem;
    align-self: center; 
     
}

#d4 {
    max-height: 60vh;
}

/* Footer */

 .footer {
    background-color: white;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: flex-end;
    justify-content: center;     
    font-family: garamond, serif;
}

/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:900px) {

    li a {
        font-size: 1em; 
    }

   #d1, #d2 {
    align-items: 
 

   }

/* Desktop */

@media only screen and (min-width:900px) {

 li a {
        font-size: 1em; 
    }

.subheading {
    width: 20vw; 


}

.para1 {
    width: 20vw;

}


}
