*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Navigation Bar */

ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 
}

li a:hover {
    background-color: grey;
}


/* Background of main body */

.container1 {
    display: flex;
    background-color: #CACAAA;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

 
/* First Heading */

 .heading  {
    margin: 2rem 2rem 0.5rem 6rem;
    width: 12rem;
    height: 7rem;
    justify-content: center;
   
 }

/* Main body article*/

 article {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
 }

 /* Second Heading */
 .subheading {
    padding: 1.2rem;
    background-color:#C8AB83; 
    text-align: center; 
    padding: 0.5em;
    color: black;
    font-weight: 100;
    border-color: white;
    border-style: groove;
    margin: 1rem 2rem 0.5rem 2rem; 
    font-family: garamond, serif;
 } 

 /* Text paragraphs and pictures */
 .para1 {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 1rem 2rem 1rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 }

 /* Hover on  "Read more" links */
.readlink:link {
    color:#C8AB83 
}
.readlink:visited {
    color: #55868C  
}
 
.readlink:hover {
    color:pink;
}

#d1, #d2, #d3, #d4 {
    max-width:50vw;
    max-height:50vW;
    border-color: white;
    border-style: groove;
    margin: 0 0 0.8rem 25vw;
}

/* Footer */

 .footer {
    background-color: white;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: flex-end;
    justify-content: center;     
    font-family: garamond, serif;
}

