*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* Background */

body{
    display: flex;
    background: rgb(202,204,170);
    background: radial-gradient(circle, rgba(202,204,170,1) 0%, rgba(202,170,178,1) 58%);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* Navigation bar */
ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 
}

li a:hover {
    background-color: grey;
}



/* Main body */

section {
    display:flex;
    flex-direction: column;
    align-items:center; 
}


 .subheading {
    padding: 1.2rem;
    background-color:#C8AB83; 
    margin: 1rem 2rem -0.2rem 2rem;
    text-align: center; 
    padding: 0.5em;
    color: black;
    font-weight: 1;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 } 

 .para1 {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 1rem 0.5rem 1rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 }

 /* last paragraph has different margins again */

 #lastpara {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 1rem 2rem 1rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 }

 /* Pictures */
.d1 {
    max-width:50vw;
    max-height:50vh;
    margin: 1em 0 0.2rem 0;
    border-color: white;
    border-style: groove;
}

/* Hover on  "Read more" links */
.readlink:link {
    color:#C8AB83;
    text-decoration: none; 
}
.readlink:visited {
    color: #55868C;
    text-decoration: none;  
}
 
.readlink:hover {
    color:pink;
    text-decoration: none;
}

/* footer */
 .footer {
    background-color: white;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: flex-end;
    justify-content: center;    
    font-family: garamond, serif;
}


/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:899px) {

    li a {
        font-size: 1em; 
    }

    .subheading {
        font-size: 3em; 
        margin: 1em
    }

    .para1, #lastpara {
        height: 40vw;
        width: 75vw;
        font-size: 1.3em
    }

}

/* Desktop */

@media only screen and (min-width:900px) {

 li a {
        font-size: 1em; 
    }

section {
    flex-flow: row wrap; 
}

.d1 {
   width: 25vw;
   height: 20vw;
   margin-left: 2vw;
}

.subheading {
    font-size: 1.5em;
    width: 15vw; 
    height:5rem;

}

.para1, #lastpara {
    width: 45vw;
    height: 15rem


}
}





