*{
    box-sizing:border-box;
    margin:0;
    padding:0; 
}

/* Navigation Bar */
ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 
}

li a:hover {
    background-color: grey;
}

/* Background */

#container1 {
    display: flex;
    background-color: #CACAAA; 
    height: 100%;
    width: 100%;     
}


 /* Main Section    */

 div2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
 }
/* main heading */
 .heading {
    padding: 1.2rem;
    background-color:#C8AB83; 
    text-align: center; 
    padding: 0.5em;
    color: black; 
    font-weight: 1;
    border-color: white;
    border-style: groove;
    margin: 2rem 1rem 1rem 1rem; 
    width: 16rem;
    font-family: garamond, serif;
 } 
/* subheadings */
 header {
    display: flex;
    justify-content: center;
    font-family: garamond, serif;
 }

/* left and right navigations */

 #left, #right {
    height: 2rem; 
    width: 2rem; 
    margin: 2.5rem 0 1rem 0; 
 }

/*color change on left and right */

#right:hover  {
    background-color: #7F636E;
 }
#left:hover {
    background-color:#7F636E
}

/* subheadings */
.sub{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}



 .para1 {
    background-color: rgba(127,99,110);
    padding: 2rem;
    margin: 1rem;
    border-color: white;
    border-style: groove;
    height: 10rem; 
    width: 90vw;
    font-family: garamond, serif; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    
 }

 ul.para1 {
    list-style-type: circle;

 }

 .para2 {
    background-color: grey;
    padding: 2rem;
    margin: 1rem;
    border-color: white;
    border-style: groove;
    height: 25rem;
    width: 90vw; 
    font-family: garamond, serif;
    flex-wrap: wrap;
    justify-content:flex-start;
 }

 ol.para2 {
    list-style-type:decimal
 }

 /* picture */

#d1 {
    max-width:50vw;
    max-height:50vW;
    border-color: white;
    border-style: groove;
    margin:0.8rem 0 1.2rem 25vw; 
}


/* footer */

.footer {
    background-color: white;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: flex-end;
    justify-content: center;   
    font-family: garamond, serif;
}


/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:900px) {

    li a {
        font-size: 1em; 
    }

}

/* Desktop */

@media only screen and (min-width:900px) {

 li a {
        font-size: 1em; 
    }



}




