*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* Background */
body{
    display: flex;
    background: rgb(202,170,178);
    background: radial-gradient(circle, rgba(202,170,178,1) 0%, rgba(202,202,170,1) 100%);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* Navigation Bar */
ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 
    

}

li a:hover {
    background-color: grey;
}


/* Main body */

article {
    display:flex;
    flex-direction: column;
    align-items:center; 
}

 .subheading {
    padding: 1.2rem;
    background-color:#C8AB83; 
    margin: 1rem 2rem -0.2rem 2rem;
    text-align: center; 
    padding: 0.5em;
    color: black;
    font-weight: 1;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 } 

 .para1 {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 1rem 0.5rem 1rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 }
/* wanted different margins on last paragraph so set up id */
 #lastpara {
    background-color: #7F636E;
    padding: 2rem;
    margin: 1rem 1rem 2rem 1rem;
    border-color: white;
    border-style: groove;
    font-family: garamond, serif;
 }

 .readlink:link {
    color:#C8AB83 
}
.readlink:visited {
    color: #55868C  
}
 
.readlink:hover {
    color:pink;
}


 /* picture */
#d1 {
    max-width:50vw;
    max-height:50W;
    margin: 1em 0 0.2rem 0;
    border-color: white;
    border-style: groove;
    justify-content: center;
}

/* footer */
 .footer {
    background-color: white;
    width: 100%;
    text-align: center;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    font-family: garamond, serif;
}


/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:899px) {

    li a {
        font-size: 1em; 
    }

    article {
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-around;
    }

   #d1 {
    width: 15rem;
    height:15rem;
     
   }

   .para1, #lastpara  {
    width: 30vw;
    height: 30vw;
    margin-left: -10em
   }

   #lastpara {
    width:60vw;
    margin-top: 5em
   }
   .subheading {
    margin-bottom: 19rem;
   
   }

}

/* Desktop */

@media only screen and (min-width:900px) {

 li a {
        font-size: 1em; 
    }

}





