*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation bar */
ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 

}

li a:hover {
    background-color: grey;
}

/* Main section */

main  { 
    height: 100%;
    background: linear-gradient(to top, #7F636E 0%, #7F636E 78%, #CACAAA 78%, #CACAAA 100%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    




/* photo */

#pfp {
    width: 50vw;
    height: 55vw;
    display: center;
    border-radius: 50%;
    margin-top: 2rem;
    border-color: white;
    border-style: groove;
    
}

/* Text boxes */

.container1 {

     display: flex;
     margin: 1rem 1rem 1rem 1rem;
     justify-content: center;
     background-color: #CACAAA;
     border-color: white;
     border-style: groove;
     padding: 1rem;
     width: 80vw;
     font-family: Garamond, serif; 
}

.container2 {

    display: flex;
    margin: 0.1rem 1rem 1rem 1rem;
    background-color: grey;
    border-color: white;
    border-style: groove;
    font-family: Garamond, serif; 
    padding: 1rem; 
    width: 80vw;

    
    
     
    
}

/* Social media icons */
figure {
    filter: invert(100%);
    margin: 1rem 0 2rem 0;   
}  
    
.icons {
    transition-duration: 0.5s;
    display: flex;
}

.icons:hover {
    transform: translateY(-25px);
          
}

 /*Footer  */
 
 .footer1 {
    background-color: white;
    text-align: center; 
    display: flex;
    justify-content: center;    
    font-family: Garamond, serif; 

}


/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:899px) {

    li a {
        font-size: 1em; 
    }


    figure {
        padding: 5rem 20rem 10rem 20rem; 
      }
    
    .icons {
        transform: scale(1.5)
    }

    .container1, .container2 {
        height: 20vh;
        font-size: 1.2em;
  }
    figure {
        padding: 0 0 0 0; 

  }

}

/* Desktop */

@media only screen and (min-width:900px) {


    li a {
        font-size: 1em; 
    }

    main  {
            background: linear-gradient(to left, #CACAAA 0%, #CACAAA 20%, #7F636E  20%, #7F636E 100%);    
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-around;
     
        }

           
        
    #pfp {
        width: 20vw;
        height: 20vw;
        margin-right: 3vw
        
    }

    .container1, .container2 {
        max-width: 50vw;
        height: 15vw;
        flex-direction: row;
        justify-content: flex-start; 
        margin: 10vh 0 10vh 0
   
    }
    .icons{
      margin: 1rem 0 6rem 0;
      align-items: center;
      transform:scale(1.5);
    }

    figure {
      padding: 0 20rem 0 20rem; 

    }





