*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation bar */

ul {
    display: flex;
    overflow: hidden;
    list-style-type: none;
    justify-content: center;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none; 
    text-align: center;
    font-size: 0.7em;
    font-family: verdana, sans-serif; 

}

li a:hover {
    background-color: grey;
}

/* Main section */

main  { 
    height: 100%;
    background: rgb(202,195,172);
    background: radial-gradient(circle, rgba(202,195,172,1) 12%, rgba(202,170,178,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
/* photo */

#pfp {
    width: 50vw;
    height: 55vw;
    border-radius: 50%;
    margin-top: 2rem;
    border-color: white;
    border-style: groove;
   
    
}

/* Text boxes */

.container1 {

     display: flex;
     margin: 1rem 1rem 1rem 1rem;
     justify-content: center;
     background-color: #CACAAA;
     border-color: white;
     border-style: groove;
     padding: 2rem;
     width: 80vw;
     font-family: Garamond, serif; 
     border-radius: 65px;
}

.container2 {

    display: flex;
    margin: 0.1rem 1rem 1rem 1rem;
    background-color: grey;
    border-color: white;
    border-style: groove;
    font-family: Garamond, serif; 
    padding: 2rem; 
    width: 80vw;
    border-radius: 65px;
   
}

/* Social media icons */

figure {
    filter: invert(100%);
    margin: 1rem 0 2rem 0;   
}  
    
.icons {
    transition-duration: 0.5s;
    display: flex;
}

.icons:hover {
    transform: translateY(-10px);
          
}

 /*Footer  */
 
 .footer1 {
    background-color: white;
    text-align: center; 
    display: flex;
    justify-content: center;    
    font-family: Garamond, serif; 
}


/* Responsive Design */

/* Tablet */

@media only screen and (min-width:480px) and (max-width:899px) {

    li a {
        font-size: 0.9em; 
    }

    #pfp {
        width: 40vw;
        height: 40vw;
        margin-right: 3vw  
    }


    .container1  {
        height: 40vh;
        font-size:1em;   
    }

    .container2 {
        height: 30vh;
        font-size: 1em;
        }
    }


/* Desktop */

@media only screen and (min-width:900px) {

    li a {
        font-size: 1em; 
    }

    main  {
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: space-evenly;
    }

    
                  
    #pfp {
        width: 24vw;
        height: 26vw;
    }

    .container1, .container2 {
        max-width: 50vw;
        height: 20vw;
        margin: 4rem 0 0 0;
        overflow: scroll;
    }

    .container2 {
        height: 30vh;
    }

    .icons{
      margin: 2rem 0 1rem 0;
      align-items: center;
    }

    figure {
      padding: 0 20rem 0 20rem; 
    }

}



